*.~
*.a
*.cmd
*.d
*.gcda
*.gcno
*.kdev4
*.ko
*.log
*.o
*.pyc
*.so*
*.swp
*.cmake
**/CMakeFiles/**
CMakeCache.txt
test/Testing/
test/build/
test/system/benchmark/output/
test/**/Makefile
test/**/test_detail.xml
aaa
coverage.info
coverage_filtered.lcov
coverage_filtered_pos.lcov
mkcscope.sh
tags
cscope.out
CUnit-Memory-Dump.xml
config.h
CONFIG.local
*VC.db
.vscode
.project
.cproject
.settings
bin/
lib/spdk-19.01.1/mk/cc.mk
lib/spdk-19.01.1/mk/config.mk
lib/spdk-19.01.1/include/spdk/config.h
lib/gperftools-2.7
lib/googletest-release-1.10.x/
lib/psutil-5.6.5/
lib/dpdk-stable-19.08.2/
lib/spdlog-1.4.2/lib
lib/spdlog-1.4.2/_builds
lib/go
test/regression/*.state
test/regression/*.csv
test/system/io_path/*.state
test/system/io_path/*.txt
test/system/io_path/*.csv
PYTHON_COMMAND
*.opendb
*.ipch
*.suo
*.json
!test/system/benchmark/config/*.json
*.sqlite
*.pb.go
ubio_error_test
mdts_detach_test
lib/dpdk-20.08/*
lib/filebench-master/*
nlohmann
lib/grpc
lib/Makefile
lib/air-prefix/
lib/air/
lib/dpdk-prefix/
lib/dpdk/
lib/fff-prefix/
lib/fff/
lib/filebench-prefix/
lib/filebench/
lib/fio-prefix/
lib/fio/
lib/go-prefix/
lib/gperf-prefix/
lib/gperf/
lib/gtest-prefix/
lib/gtest/
lib/nlohmann-prefix/
lib/spdk-prefix/
lib/spdk/
lib/spdlog-1.4.2/
lib/spdlog-prefix/
lib/opentelemetry-cpp
lib/opentelemetry-cpp-prefix
tool/cli/vendor
tool/cli/docs/manpage
tool/pkg/
tool/cli/lib/pnconnector/src/util/resource.go
package/poseidon-deployment/
package/src/DEBIAN/control
package/src/etc/pos/prometheus-data/*
package/usr/local/bin/*
package/usr/local/etc/*
package/usr/local/lib/*
