[Unit]
Description=poseidonos

[Service]
Type=simple
ExecStartPre=/usr/local/etc/setup_env.sh
ExecStart=/usr/local/bin/poseidonos
ExecStop=/usr/local/bin/poseibonos-cli system stop --force
ExecStopPost=/usr/local/lib/spdk/script/setup.sh reset
KillMode=none

[Install]
WantedBy=multi-user.target
Alias=poseidonos
