Package: poseidonos
Version: 0.10.6-b23a183f58c84d4849399ee1d3a5eb0a65aa109d
Maintainer: PoseidonOS Packaging <packaging@poseidonos.com>
Description: PoseidonOS
Architecture: amd64
Depends: libibverbs-dev (>= 17.1-1ubuntu0.2), librdmacm-dev (>= 17.1-1ubuntu0.2), libjsonrpccpp-dev (>= 0.7.0-1build2), libjsoncpp-dev (>= 1.7.4-3), libyaml-cpp-dev (>= 0.5.2-4ubuntu1), libtbb-dev (>= 2017~U7-8), libc-ares-dev (>= 1.14.0-1ubuntu0.1), libaio1 (>= 0.3.110-5ubuntu0.1), mandoc (>= 1.14.3-3), libgoogle-perftools-dev (>= 2.5-2.2ubuntu3)
